* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D0D0D0;
}

main {
    margin: 50px auto 0 auto;
    max-width: 300px;
    min-height: 500px;
    border: 2px solid rgb(33, 85, 255);
    border-radius: 12px;
}

#date__container {
    padding-top: 50px;
    background-color: aquamarine;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    min-height: 100px;
}

div#date {
    text-align: right;
}

#tasks__container {
    background-color: rgb(96, 190, 96);
    min-height: 400px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#tasks__container ul li {
    list-style: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

#tasks__container ul li:first-child {
    border-top: 1px solid black;
}