* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
}

main {
    margin: 50px auto 0 auto;
    max-width: 400px;
    min-height: 500px;
    border: 2px solid rgb(33, 85, 255);
    border-radius: 12px;
}

#date__container {
    padding-top: 50px;
    background-color: rgb(220, 230, 252);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    min-height: 100px;
}

div#date {
    text-align: right;
}

#tasks__container {
    background-color: rgb(250, 250, 234);
    min-height: 400px;
    font-size: 1.4rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#tasks__container ul {
    width: 100%;
}

#tasks__container ul li {
    list-style: none;
    line-height: 150%;
    border-bottom: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

#tasks__container ul li button {
    border: none;
    border-radius: 50%;
}

form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid black;
    padding: 5px 5px;
}

form input {
    font-size: 1.4rem;
    border-radius: 5px;
}

form button {
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    background: rgb(122, 122, 255);
    margin-left: 5px;
    font-size: 1.5rem;
}

form button:hover {
    border: 2px solid rgb(33, 85, 255);
    cursor: pointer;
}   

form button:active {
    background-color: blue;
    color: white;
}   